<div class="container" style="border: 1px solid black;border-radius:5px;margin-top: 30px;background-color: #e6f3ff;">
  <h1 style="margin-top: 30px;">Angular Pipes</h1>
  <div class="container" style="border:1px solid black;border-radius:5px;margin-top: 30px;">
    <h3>Reverse the string</h3>
 <span style="display: flex;"><h4>Original String:&nbsp;&nbsp;&nbsp;</h4><input [(ngModel)]="findReverse" type="text"  ></span> 
 <span style="display: flex;align-items: center;font-size: 20px;font-weight: 400;"> <h4>Reversed String:</h4>&nbsp;&nbsp;&nbsp;  "{{ findReverse | reverse }}"</span>
  </div>
  <div class="container" style="border:1px solid black;border-radius:5px;margin-top: 30px;">
    
    <h3>Format Date</h3>
    <span style="display: flex;align-items: center;font-size: 20px;font-weight: 400;"><h4>Original Date String:&nbsp;&nbsp;&nbsp;</h4>{{today}}</span> 
    <span style="display: flex;align-items: center;font-size: 20px;font-weight: 400;"> <h4>Formatted Date String:</h4>&nbsp;&nbsp;&nbsp;  "{{ today |  date:'dd-MM-yyyy' }}"</span>
     
  </div>
  <div class="container" style="border:1px solid black;border-radius:5px;margin-top: 30px;margin-bottom: 30px;">
    <h3>Name Initials</h3>
    <span style="display: flex;"><h4>Name:&nbsp;&nbsp;&nbsp;</h4><input [(ngModel)]="findInitial" type="text"  ></span> 
    <span style="display: flex;align-items: center;font-size: 20px;font-weight: 400;"> <h4>Initials:</h4>&nbsp;&nbsp;&nbsp;  "{{ findInitial | initials }}"</span>
     
  </div>
  
</div>
<router-outlet></router-outlet>